<section class="index-page">
  <h1>Hello {{ username }}</h1>
   <div class="profile">
     <a href="/user/profile">profile</a><a href="/user/profile/settings">settings</a>
   </div>
   <img src={{ picture }} alt="avatar" class="avatar">
</section>
